<% if post.persisted? %>
  <% action, value = post_url, "PATCH" %>
<% else %>
  <% action, value = posts_url, "POST"  %>
<% end %>



<form action="<%= action %>" method="POST">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  </input>

  <input
    type="hidden"
    name="_method"
    value="<%= value %>">
  </input>

  <% @subs.each do |subdreddit| %>
    <label>
      <%= subdreddit.title %>
      <input
        type="checkbox"
        name="post[sub_ids][]"
        value="<%= subdreddit.id %>"
        <%="checked" if ( sub.title == subdreddit.title || post.subs.include?(subdreddit.title) )%>>
      </input>
    </label>
    <br>
  <% end %>


  <% unless post.persisted? %>
    <label>
      Title:
      <input
        type="text"
        name="post[title]"
        placeholder="Check out this cool cat.">
      </input>
    </label>
    <br>

    <label>
      URL (optional):
      <input
        type="text"
        name="post[url]"
        placeholder="http://lmgtfy.com/">
      </input>
    </label>
    <br>
    <br>
  <% end %>

  <label>
    Content
    <textarea
      name="post[content]"
      placeholder="Add your thoughts..."><%= post.content %></textarea>
  <label>

  <button>Submit</button>

</form>
